.App {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.App .input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.App .input input {
  width: 50%;
}
.App .input button {
  margin-left: 10px;
}
.App .todosList {
  padding: 0;
}
.App .todosList .listItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.without::-webkit-datetime-edit-ampm-field {
  display: none;
}
.without[type=time]::-webkit-clear-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
}

.without[type=number]::-webkit-inner-spin-button,
.without[type=number]::-webkit-outer-spin-button {
 -webkit-appearance: none;
 -moz-appearance: none;
  appearance: none;
  margin: 0; 
 }